/* Стили для заголовка */
h1 {
    color: #ff00ff; /* Фиолетовый цвет */
    font-size: 2.5rem;
    text-align: center;
}

/* Стили для навигации */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ff1493; /* Розово-красный цвет */
    text-decoration: none;
    font-weight: bold;
}

/* Стили для секций */
section {
    padding: 40px;
    background-color: #ffe4e1; /* Светло-розовый цвет */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* Стили для кнопок */
.button {
    background-color: #ff4500; /* Красный цвет */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff6347; /* Светло-красный цвет при наведении */
}
